typings
**/app/**/*.js
**/app/**/*.map
APM-New/node_modules
APM-Final/node_modules
APM-Start/node_modules
node_modules
jspm_packages
bower_components

.vs
**/*.sou
**/*.user
bin
obj
packages

#folders
.idea
